params {
    // Default parameter values
    input_dir = null
    output_dir = "results"
    sample_id = "sample"
    model = "hac"  // can be 'fast', 'hac', or 'sup'
    
    // Existing params
    fasta_file = 'data/reference.fasta'
    mm2opts_rna = '-ax splice -uf -k14'
    mm2opts_dna = '-ax map-ont'
    mm2opts = params.mm2opts_rna
}

process {
    withName: 'mod_basecalling_rna|basecalling_rna' {
        container = 'xiang2019/nanobite:v1.0.0'
        memory = '16 GB'
        cpus = 4
        containerOptions = '--gpus all'
    }
}

docker {
    enabled = true
    runOptions = '--gpus all'
}


